<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Anasayfa", "Anasayfa", "Home", null, new { @class="btn btn-primary"})
            @Html.ActionLink("Hakkimizda", "Hakkimizda", "Home", null, new { @class="btn btn-primary"})
            @Html.ActionLink("İletişim", "Iletisim", "Home", null, new { @class="btn btn-primary"})
        </div>

        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
